.dashboard {
    background-color: #4e75eb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard .div {
    background-color: #4e75eb;
    height: 844px;
    position: relative;
    width: 390px;
  }
  
  .dashboard .welcome-back{
    color: transparent;
    font-family: "Cabin", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 99px;
  }
  
  .dashboard .text-wrapper {
    color: #fbfdff;
  }
  
  .dashboard .span {
    color: #fafdff;
    font-size: 50px;
  }
  
  .dashboard .overlap-group {
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
    height: 600px;
    left: 0;
    position: absolute;
    top: 244px;
    width: 390px;
  }
  
  .dashboard .text-wrapper-2 {
    color: #9b9b9b;
    font-family: "Cabin", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 101px;
  }
  
  .dashboard .text-wrapper-3 {
    color: #9b9b9b;
    font-family: "Cabin", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 224px;
    white-space: nowrap;
  }
  
  .dashboard .text-wrapper-4 {
    color: #9b9b9b;
    font-family: "Cabin", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 425px;
    white-space: nowrap;
  }
  
  .dashboard .overlap {
    background-color: #f4f4f4;
    border-radius: 10px;
    height: 148px;
    left: 32px;
    position: absolute;
    top: 58px;
    width: 155px;
  }
  
  .dashboard .group-members {
    color: #5d5d5d;
    font-family: "Cabin", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    width: 109px;
  }
  
  .dashboard .overlap-2 {
    border-radius: 10px;
    height: 148px;
    left: 202px;
    position: absolute;
    top: 58px;
    width: 155px;
  }
  
  .dashboard .text-wrapper-5 {
    color: #5d5d5d;
    font-family: "Cabin", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 59px;
    white-space: nowrap;
    width: 46px;
  }
  
  .dashboard .rectangle {
    background-color: #f4f4f4;
    border-radius: 10px;
    height: 148px;
    left: 0;
    position: absolute;
    top: 0;
    width: 155px;
  }
  
  .dashboard .text-wrapper-6 {
    color: #5d5d5d;
    font-family: "Cabin", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 59px;
    white-space: nowrap;
    width: 50px;
  }
  
  .dashboard .overlap-3 {
    background-color: #f4f4f4;
    border-radius: 10px;
    height: 44px;
    left: 32px;
    position: absolute;
    top: 259px;
    width: 325px;
  }
  
  .dashboard .text-wrapper-7 {
    color: #5d5d5d;
    font-family: "Cabin", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 50px;
  }
  
  .dashboard .text-wrapper-8 {
    color: #b3b3b3;
    font-family: "Cabin", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
    width: 126px;
  }
  
  .dashboard .overlap-4 {
    height: 24px;
    left: 217px;
    position: absolute;
    top: 9px;
    width: 62px;
  }
  
  .dashboard .text-wrapper-9 {
    color: #5d5d5d;
    font-family: "Cabin", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;
  }
  
  .dashboard .study-groups {
    color: #b3b3b3;
    font-family: "Cabin", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 31px;
  }
  
  .dashboard .female-profile {
    height: 50px;
    left: 32px;
    position: absolute;
    top: 462px;
    width: 55px;
  }
  
  .dashboard .male-user {
    height: 50px;
    left: 99px;
    position: absolute;
    top: 462px;
    width: 56px;
  }
  
  .dashboard .img {
    height: 50px;
    left: 167px;
    position: absolute;
    top: 462px;
    width: 55px;
  }
  
  .dashboard .female-profile-2 {
    height: 50px;
    left: 302px;
    position: absolute;
    top: 462px;
    width: 55px;
  }
  
  .dashboard .male-user-2 {
    height: 50px;
    left: 233px;
    position: absolute;
    top: 462px;
    width: 55px;
  }
  
  .dashboard .rectangle-2 {
    background-color: #f4f4f4;
    height: 38px;
    left: 37px;
    position: absolute;
    top: 546px;
    width: 320px;
  }
  
  .dashboard .notification {
    height: 40px;
    left: 322px;
    position: absolute;
    top: 24px;
    width: 40px;
  }
  